body {
    background-color: white;
  }

div.intro{
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

div.content{
  margin: auto;
  width: 800px;
  height: 500px;
  padding: 10px;
}
  
h1 {
    font-size: 60px;
    text-align: center;
    font-family: Helvetica;
  }
  
  p {
    font-family: Helvetica;
    font-size: 20px;
  }


  div.gallery {
    margin: 10px;
    float: left;
    width: 200px;
    height: 450px;
    background-color: white;
    box-shadow: 5px 5px 5px grey;
  }
  
  
  div.gallery img {
    max-height: 50%;
    max-width: 100%;
  }

  div.desc{
    width: 180px;
    height: 130px;
  }
  
  div.quiz {
    text-align: center;
    margin: auto;
  }
