body {
    font-family: sans-serif;
  }


  #wrapper {
    width: 600px;
    margin: 0 auto;
    background: white;
    padding: 10px 15px;
    border-radius: 10px;
  }
  input {
    margin: 5px 10px;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #submit {
    background: black;
  }
 
  #answer {
    border: 1px dashed #ccc;
    background: #eee;
    padding: 10px;
  }