
div.container {
    width: 80%;
    height: 800px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
  }

  div.container img{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 70%;
    max-width: 100%;
  }
  
  div.text {
    text-align: left;
    padding: 10px 20px;
  }

  #back, #back:visited{
      float: left;
      background-color: black;
      color: white;
      padding: 12px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  }

  #back:hover, #back:active {
    background-color: #666666;
  }

  #forward, #forward:visited{
      float: right;  
      background-color: black;
      color: white;
      padding: 12px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;  
  }

  #forward:hover, #forward:active {
    background-color: #666666;
  }
  