
div.container {
    width: 80%;
    height: 800px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
  }

  div.container img{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  div.text {
    text-align: left;
    padding: 10px 20px;
  }

  #back{
      float: left;
  }

  #forward{
      float: right;
  }
  